/*
Theme Name: BlankSlate
Theme URI: https://github.com/tidythemes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of BlankSlate (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving BlankSlate, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0) just how much we've revamped things. Last, but not least, BlankSlate has now been <a href="https://github.com/tidythemes/blankslate">opened up on GitHub</a> (github.com/tidythemes/blankslate) if anyone would like to make suggested code additions/improvements. Thank you for using BlankSlate.
Version: 4.0.4
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2017 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/
@font-face {font-family: 'azuki';src: url('fonts/Azuki.ttf');}
@font-face {font-family: 'helve';src: url('fonts/Helve.ttf');}
#header {
	background: #fff;
	padding: 10px 0px;
}

#header .logo-box img{
	width: 100%;
	height: 100%;
}
#header .ubermenu.ubermenu-main {
	margin-top: 6px;
}
#header .col-md-10{
	padding: 0px;
}
#header .ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
	color: #0a0a0a;
	font-size: 16px;
	font-weight: 500;
}
#header .ubermenu .ubermenu-target-text {
	font-size: 17px;
}
#slider .rev_slider {
	background-size: cover !important;
}
.intro{
	padding: 30px;
	background: #fff;
}
.intro img{
	width: 100%;
}
.intro .intro-text h2{
	display: inline-block;
	border-bottom: 2px solid #39476c;
	margin-top: 0px;
	font-weight: bold;
	padding-bottom: 11px;
}
.intro .intro-text p{
	font-size: 17px;
}
.section1{
	background:url(images/section1-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	padding: 50px 0px;
}
.section1 h2.title span{
	border-bottom: 2px solid #fbfd6a;
	color: #fff;
	font-size: 30px;
	margin-bottom: 20px;
	display: inline-block;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.section1 p{
	font-size: 20px;
	color: #fff;
}
.section2{
	padding: 30px 0px;
	padding-bottom: 0px;
}
.section2 .row{
	margin-bottom: 30px;
}
.section2 ul{
	padding-left: 20px;
}
.section2 p{
	font-size: 17px;

}
.section2 ul li{
	font-size: 17px;
	text-align: justify;
}
.section2 .row .col-md-6:nth-child(1){
	padding-right:0px; 
}
.section2 .row .col-md-6:nth-child(1) ul li{
	padding-right: 15px;
}
.section2 .left-section2-box.first {
	text-align: center;
	border-right: 1px solid #eaab00;
	padding-left: 15px;
}
.section2 .left-section2-box.first p{
	text-align: center;
}
.section2 .left-section2-box.first img{
	border-radius: 50%;
	margin-bottom: 10px;
}
h2.title{
	text-align: center;
}
h2.title span{
	text-transform: uppercase;
	border-bottom: 2px solid #eaab00;
	padding-bottom: 10px;
	margin-bottom: 30px;
	display: inline-block;
}
.section3{
	background:url(images/law-firm.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	padding: 50px 0px;
}
.section3 h2{
	color: #fff;
	margin-bottom: 20px;
}
.section3 p{
	color: #fff;
	font-size: 17px;
}
.readmore-button a{
	padding: 5px 20px;
	color: #fff;
	background:#eaab00;
	display: inline-block;
	border-radius: 5px;
	margin-top: 30px;
	font-size: 17px;
}
.section4{
	background:url(images/services-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	padding: 50px 0px;
}
.section4 .section4-box{
    padding: 30px 0px;
    margin-bottom: 30px;
    }
.section4 .section4-box h2{
	    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.section4 .section4-box p{
	    color: #5f5f5f;
	    font-size: 17px;
}
.social-media-links {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 30px;
}
.social-media-links li {
    margin-right: 5px;
    width: 24%;
    float: right;
    margin-bottom: 20px;
    list-style: none;
}
.social-media-links li a.fa-2x {
    font-size: 35px;
    color: #fff;
}
.social-media-links .fa span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

footer .top-footer-box p {
    color: #fff;
    padding: 10px;
    margin-bottom: 0px;
    text-align: justify;
    font-size: 15px;
}
footer .top-footer-box p b{
	font-size: 20px;
}
footer .top-footer-box h3{
	color: #fff;
}
footer{
	background: #123955;
	text-align: center;
    padding-top: 30px;
}
footer .navbar-default {
	background-color: transparent;
	border: none;
	text-align: center;
	margin-bottom: 0px;
	border-bottom: 1px solid #324e63;
}
footer .navbar-default ul{
	display: inline-block;
	float: none;
}
footer .navbar-default ul li a{
	color: #fff !important;
}
footer p{
	color: #fff;
	padding: 10px;
	margin-bottom: 0px;
}
article.page{
	padding-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 620px){
	p{
		font-size: 14px;
	}
	#header {
    padding: 0px;
}
#header .ubermenu-skin-black-white-2.ubermenu-responsive-toggle {
    background: #39476c;
    color: #eeeeee;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
#header .ubermenu .ubermenu-target-text {
    font-size: 14px;
}
.intro {
    padding: 10px 0px;
}
.intro .intro-text h2 {
    font-size: 14px;
    margin-top: 20px;
}
.intro .intro-text p {
    font-size: 14px;
}
.readmore-button a {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.section1 {
    padding: 20px 0px;
}
.section1 h2.title span {
    font-size: 20px;
}
.section1 p {
    font-size: 14px;
}
.section2 {
    padding: 0px 0px;
}
h2.title span {
    font-size: 20px;
}
.section2 .row .col-md-6:nth-child(1) {
    padding-right: 15px;
    margin-bottom: 20px;
}
.section2 .left-section2-box.first {
    text-align: center;
    border-right: none;
    padding-left: 0px;
}
.section2 .left-section2-box.first p {
    text-align: center;
    margin-bottom: 0px;
    font-size: 14px;
}
.section2 p {
    font-size: 14px;
}
.section2 ul li {
    font-size: 14px;
    text-align: justify;
}
.section3 {
    padding: 10px 0px;
}
.section3 h2 {
    font-size: 20px;
}
.section3 p {
    color: #fff;
    font-size: 14px;
    text-align: justify;
}
.section4 {
    padding: 0px 0px;
}
.section4 .section4-box {
    padding: 10px 0px;
    margin-bottom: 10px;
}
.section4 .section4-box h2{
	    margin: 10px 0px;
}
.section4 .section4-box p {
    font-size: 14px;
}
footer {
    padding-top: 10px;
}
footer .top-footer-box h3 {
    color: #fff;
    font-size: 20px;
}
.social-media-links {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 20px;
    overflow: hidden;
    float: left;
}
footer .navbar-default ul {
    display: block;
    float: none;
    width: 100%;
}
footer .navbar-default ul li a {
    color: #fff !important;
    width: 20%;
    float: left;
}
}